:root {
    --black: #000;
    --white: #fff;
    --blue: #0000ff;
    --quartz: #E0E0E7;
    --Slightlydesaturatedblue: #9797d8;
    --orange: #cf790f;
    --grey: #858282;
    --aqua: rgb(0, 255, 255);
    --darkgray: #a9a9a9;
    --aquamarine: rgb(127, 255, 212);
    --gurllo: #9e8c75;
}